{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<!-- Showcase -->
<section id="showcase">
  <div class="container text-center">
    <div class="home-search p-5">
      <div class="overlay p-5">
        <h1 class="display-4 mb-4">
          Property Searching Just Got So Easy
        </h1>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores eveniet
          vel nostrum magnam
          voluptatum tempore! Consectetur, id commodi!</p>
        <div class="search">
          <form action="{% url 'search' %}" method="get">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">کلمات کلیدی</label>
                <input type="text" name="keywords" class="form-control" placeholder="کلمات کلیدی (استخر، پارکینگ و...)">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">شهر</label>
                <input type="text" name="city" class="form-control" placeholder="شهر">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">استان</label>
                <select name="state" class="form-control">
                  <option selected="true" disabled="disabled">استان‌ها</option>
                  {% for state in state_choices %}
                  <option value="{{ state }}">{{ state }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <!-- Form Row 2 -->
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label class="sr-only">تعداد اتاق خواب</label>
                <select name="bedrooms" class="form-control">
                  <option selected="true" disabled="disabled">تعداد اتاق خواب</option>
                  {% for bedroom in bedroom_choices %}
                  <option value="{{ bedroom }}">{{ bedroom }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <select name="price" class="form-control" id="type">
                  <option selected="true" disabled="disabled">قیمت</option>
                  {% for key, value in price_choices.items %}
                  <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">جستجو</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Listings -->
<section id="listings" class="py-5">
  <div class="container">
    <h3 class="text-center mb-3">آخرین آگهی‌ها</h3>
    <div class="row">

      {% if latest_listings %}
      {% for item in latest_listings %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card listing-preview">
          <img class="card-img-top" src="{{ item.main_photo.url }}" alt="">
          <div class="card-img-overlay">
            <h2>
              <span class="badge badge-secondary text-white">${{ item.price|intcomma:False }}</span>
            </h2>
          </div>
          <div class="card-body">
            <div class="listing-heading text-center">
              <h4 class="text-primary">{{ item.title }}</h4>
              <p>
                <i class="fas fa-map-marker text-secondary"></i> {{ item.state }}، {{ item.city }}، {{ item.address }}
              </p>
            </div>
            <hr>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-th-large"></i> مساحت: {{ item.square_meters }}
              </div>
              <div class="col-6">
                <i class="fas fa-car"></i> پارکینگ: {{ item.garage }}
              </div>
            </div>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-bed"></i> اتاق خواب: {{ item.bedrooms }}
              </div>
              <div class="col-6">
                <i class="fas fa-bath"></i> حمام و دستشویی: {{ item.bathrooms }}
              </div>
            </div>
            <hr>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-user"></i> {{ item.realtor }}
              </div>
            </div>
            <div class="row text-secondary pb-2">
              <div class="col-6">
                <i class="fas fa-clock"></i> {{ item.listed_date|naturalday }} | {{ item.listed_date|naturaltime }}
              </div>
            </div>
            <hr>
            <a href="{{ item.get_absolute_url }}?back={{ request.path }}" class="btn btn-primary btn-block">اطلاعات
              بیشتر</a>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p>{{ message }}</p>
      {% endif %}

    </div>
  </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <i class="fas fa-comment fa-4x mr-4"></i>
        <hr>
        <h3>Consulting Services</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste
          consequatur
          hic dignissimos ratione ea quae.</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-home fa-4x mr-4"></i>
        <hr>
        <h3>Propery Management</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste
          consequatur
          hic dignissimos ratione ea quae.</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-suitcase fa-4x mr-4"></i>
        <hr>
        <h3>Renting & Selling</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste
          consequatur
          hic dignissimos ratione ea quae.</p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}